@import 'tailwindcss';

@theme {
  --font-manrope: 'Manrope', sans-serif;
  --font-nunito: 'Nunito', sans-serif;

  --color-brand-blue: #3b82f6;
  --color-brand-green: #22c55e;
  --color-brand-navy: #1e3a8a;
  --color-brand-black: #0f172a;
  --color-brand-gray: #a1a1a1;

  --background-image-process-gradient: linear-gradient(
    115.89deg,
    #2f80ed 12.35%,
    #1b4987 118.65%
  );

  --bg-hero-gradient: linear-gradient(
    107.5deg,
    #2F80ED 14.05%,
    #2AAB4E 78.48%
  );
}

/* Utility to hide native scrollbars while preserving scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

